# entorno virtual
.venv/

# python cache
__pycache__/
*.pyc

# vscode
.vscode/

# datos generados
dataset/
*.xdf
*_summary.json
*.log
tmp_*

# sistema
.DS_Store
Thumbs.db

# psychoPy local state
.psychopy-appdata/
